{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to My Website</h1>
    <p>This is the home page content.</p>
    <form hx-post="/api/test" hx-target="#response-div" hx-swap="outerHTML" id="form">
        <input type="text" name="sample" placeholder="Put some sample text in here..." />
        <button type="submit">Create DB Entry</button>
    </form>
    <div id="response-div"></div>
    <button type="button" class="contrast" hx-post="/api/redirect" id="Redirect">Redirect</button>
{% endblock %}
